<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/footer.css">
    <title></title>
</head>
<body>
    
    <style>
        .footer{

            width: 70%;
            padding: 30px 0 30px 0;
            background-color: #fa2e00;
            font-family: Arial, Helvetica, sans-serif;

        }
    </style>

    <center>
        <footer class="footer bg-dark">
            <div class="conteiner">
                <span class="text-light">Compañia de Luz @Todos los derechos Reservados 2023</span>
            </div>
        </footer>
    </center>

</body>
</html>