<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/header.css">
    <title>Document</title>
</head>
<body>

    <center>
        <div class="containerh">

                <h1>Compañia de Luz</h1>
        
            <picture>
                <img src="/img/recibo.jfif">
            </picture>
    
        </div>
    </center>

</body>
</html>