<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/nav.css">
    <title></title>
</head>
<body>
    
<center>
    <nav>

        <ul>
            <li><a href="/index">Acerca de</a></li>
            <li><a href="/pago">Relizar pago</a></li>
            <li><a href="/contacto">Contactos</a></li>
        </ul>    

    </nav>
</center>

</body>
</html>