<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%-include('partials/header.ejs') %>

    <%-include('partials/nav.ejs') %>

    <section class="container">

        <form action="/contacto">



        </form>

    </section>

    <%-include('partials/footer.ejs') %>
</body>
</html>