<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/body.css">
    <title>Document</title>
</head>
<body>
    <%-include('partials/header.ejs') %>

    <%-include('partials/nav.ejs') %>

    <center>
        <section class="container">

            <form action="/recibo" method="post" id="form">
    
                <label for="">Numero Recibo</label>
                <input type="number" id="numR" name="numR" required><br><br>
    
                <label for="">Nombre</label>
                <input type="text" id="nombre" name="nombre" required><br><br>
    
                <label for="">Domicilio</label>
                <input type="text" id="domicilio" name="domicilio" required><br><br>
    
                <label for="">Tipo de Servicio</label>
                <select type="text" name="servicioT" id="servicioT" required>
                    <option value="0">Tipos</option>
                    <option value="1">Domicilio</option>
                    <option value="2">Comercial</option>
                    <option value="3">Industrial</option>
                </select>
                <br><br>
                
                <label for="">Kilowatts Consumidos</label>
                <input type="text" id="killowattsC" name="killowattsC" required><br><br>
    
                <button id="btnEnviar" type="submit">Enviar informacion</button>
                <button id="btnLimpiar" type="reset">Limpiar</button>
    
    
            </form>
    
        </section>

        <script>

            document.getElementById('form').addEventListener('submit', function(event){

                var servicioT = document.getElementById('servicioT').value;
                var killowatsC = document.getElementById('killowattsC').value;
                var killo;


                if(servicioT === '0'){
                    alert("Ingrese el tipo de servicio...");
                    event.preventDefault();
                }

            });

        
        </script>
    </center>

    <%-include('partials/footer.ejs') %>
</body>
</html>