
.container{

    width: 70%;
    background-color: #DAF7A6;
    padding: 30px 0 30px 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;

}

button{

    font-size: 15px;
    color:white;
    font-weight: bold;
    background-color: rgb(57, 56, 58);  
    padding-inline: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 10px;
    border-radius: 2px;

}

button:hover{

    background-color: #707070;
    border-color: aliceblue;

}

label.lig{
    font-size: 17px;
    font-weight: normal;

}

input{

    padding: 5px;
    border-radius: 3px;
    border-color: rgb(255, 253, 253);

}

input:hover{

    border-color: black;

}

select {
    position: relative;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 150px;
    padding: 5px;
    overflow: hidden;
    background-color: #fff;
}

#espa{

    font-weight: bolder;
    font-size: 17px;

}

li{

    list-style: none;


}

ul{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: calc(100% - 20%);

}


.labels_show{
    display: flex;
    justify-content: space-between;

    width: 70%;
}

.lig2{
    display: flex;
    flex-direction: column;
    
}

label{
    margin-bottom: 4.7vh;
}


    
