img{

    width: 50%;
    height: auto;
    padding-bottom: 30px;

}

.containerh{

    width: 70%;
    background-color: #ffb518;
    font-family: Arial, Helvetica, sans-serif;

}

h1{

    padding: 20px;
}