
nav{

    width: 70%;
    background-color: #3c3c3c;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    padding: 7px 0;

}

a{

    color: white;
    text-decoration: none;

}

a:hover{

    font-size: 20px;
    color: gray;

}

li{

    list-style: none;


}

ul{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: calc(100% - 20%);

}